<ion-view view-title="About">
    <ion-content>

        <div class="row">
            <div class="col col-33 col-offset-33"><img src="img/about_yagya.jpeg"></div>

        </div>
            <div class="item item-text-wrap">
                Kumbhabhishekham is a Hindu temple ritual that is believed to homogenize,
                synergize and unite the mystic powers of the deity. Kumbha means the Head
                and denotes the Shikhara or Crown of the Temple (usually in the Gopuram)
                and Abhisekham is ritual bathing.

                On the appointed day and at an auspicious time, the Kumbha is bathed with
                the charged and sanctified holy waters in the sacrificial pot and, by a
                mystic process, these pranic powers trickle down a silver wire and enter
                the deity installed inside the sanctum sanctorum of the temple. The deity,
                which was until then only a granite sculptured stone image, is believed to
                transform into a vibrant and vivid living representation of the deva with
                innate beatitude, grace and grandeur, conferring divine blessings on all
                devotees.
            </div>
            <div class="row">
                <div class="col col-33 col-offset-33"><img src="img/about_yagya.jpeg"></div>

            </div>
        </div>

    </ion-content>
</ion-view>
