<ion-view title="{{event.date}}">
    <ion-content class="has-header">


            <div class="card">
                <div class="item item-divider">
                    {{event.t1}}
                </div>
                <div class="item item-text-wrap"  align="justified">
                    {{event.kp1}}
                    <br/>
                    <strong>Note:</strong>
                    <br/>
                    <div ng-repeat="note in event.note1">
                        <ul>
                            <li style='font-style: italic, disc; font-size: 12px; color: blue;'># {{note}}</li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="card">
                <div class="item item-divider">
                    {{event.t2}}
                </div>
                <div class="item item-text-wrap"  align="justified">
                    {{event.kp2}}
                    <br/>
                    <strong>Note:</strong>
                    <br/>
                    <div ng-repeat="note in event.note2">
                        <ul>
                            <li style='font-style: italic, disc; font-size: 12px; color: blue;'># {{note}}</li>
                        </ul>
                    </div>

                </div>

            </div>

            <div class="card">
                <div class="item item-divider">
                    {{event.t3}}
                </div>
                <div class="item item-text-wrap"  align="justified"io>
                    {{event.kp3}}
                    <br/>
                    <strong>Note:</strong>
                    <br/>

                    <div ng-repeat="note in event.note3">
                        <ul>
                            <li style='font-style: italic, disc; font-size: 12px; color: blue;'># {{note}}</li>
                        </ul>
                    </div>
                </div>
        </div>
    </ion-content>
</ion-view>