<ion-view view-title="Parkings">
  <ion-content>

      <div class="card">
          <div class="item item-divider">
              Shuttle Service
          </div>
          <div class="item item-text-wrap">
              Shuttle service is available between Temple and your parking location.
            </div>

      </div>
      <div class="list card">


          <div class="item item-avatar">
              <img src="img/johnmarshal.jpeg">
              <h2>John Marshall High School</h2>
              <p>10101 E 38th St, Indianapolis, IN 46236</p>
          </div>

          <div class="item">
              <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=John+Marshal+high+school&amp;aq=&amp;sll=39.818631,-85.973264&amp;sspn=0.007219,0.013937&amp;ie=UTF8&amp;hq=John+Marshall+high+school&amp;ll=39.824517,-85.988473&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=lyrftr:m,4859302672901513394,39.825084,-85.989432&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=John+Marshal+high+school&amp;aq=&amp;sll=39.818631,-85.973264&amp;sspn=0.007219,0.013937&amp;ie=UTF8&amp;hq=John+Marshall+high+school&amp;ll=39.824517,-85.988473&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=lyrftr:m,4859302672901513394,39.825084,-85.989432" style="color:#0000FF;text-align:left">View Larger Map</a></small>

          </div>
          <a class="item item-icon-left assertive" href="#">
              Capacity: 300
          </a>

      </div>
      <div class="list card">

          <div class="item item-avatar">
              <img src="img/johnmarshal.jpeg">
              <h2>John Marshall High School</h2>
              <p>10101 E 38th St, Indianapolis, IN 46236</p>
          </div>

          <div class="item">
              <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=John+Marshal+high+school&amp;aq=&amp;sll=39.818631,-85.973264&amp;sspn=0.007219,0.013937&amp;ie=UTF8&amp;hq=John+Marshall+high+school&amp;ll=39.824517,-85.988473&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=lyrftr:m,4859302672901513394,39.825084,-85.989432&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=John+Marshal+high+school&amp;aq=&amp;sll=39.818631,-85.973264&amp;sspn=0.007219,0.013937&amp;ie=UTF8&amp;hq=John+Marshall+high+school&amp;ll=39.824517,-85.988473&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=lyrftr:m,4859302672901513394,39.825084,-85.989432" style="color:#0000FF;text-align:left">View Larger Map</a></small>

          </div>
          <a class="item item-icon-left assertive" href="#">
              Capacity: 300
          </a>

      </div> <div class="list card">

      <div class="item item-avatar">
          <img src="img/johnmarshal.jpeg">
          <h2>John Marshall High School</h2>
          <p>10101 E 38th St, Indianapolis, IN 46236</p>
      </div>

      <div class="item">
          <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=John+Marshal+high+school&amp;aq=&amp;sll=39.818631,-85.973264&amp;sspn=0.007219,0.013937&amp;ie=UTF8&amp;hq=John+Marshall+high+school&amp;ll=39.824517,-85.988473&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=lyrftr:m,4859302672901513394,39.825084,-85.989432&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=John+Marshal+high+school&amp;aq=&amp;sll=39.818631,-85.973264&amp;sspn=0.007219,0.013937&amp;ie=UTF8&amp;hq=John+Marshall+high+school&amp;ll=39.824517,-85.988473&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=lyrftr:m,4859302672901513394,39.825084,-85.989432" style="color:#0000FF;text-align:left">View Larger Map</a></small>

      </div>
      <a class="item item-icon-left assertive" href="#">
          Capacity: 300
      </a>

  </div>

  </ion-content>
</ion-view>
