<ion-view view-title="Volunteers">
  <ion-content>
      <div class="list">

          <a class="item item-avatar" href="#">
              <img src="img/friends/fr-01.jpg">
              <h2>Dr. Arun Jain</h2>
              <p>Logistic Committee</p>
          </a>

          <a class="item item-avatar" href="#">
              <img src="img/friends/fr-02.jpg">
              <h2>Dr. Sandeep Gupta</h2>
              <p>Logistc</p>
          </a>
          <a class="item item-avatar" href="#">
              <img src="img/friends/fr-03.jpg">
              <h2>Mohan Razdan</h2>
              <p>Logistic</p>
          </a>
          <a class="item item-avatar" href="#">
              <img src="img/friends/fr-04.jpg">
              <h2>Mrs. Shanti Pathak    <i class="icon ion-ios-telephone-outline"  href="tel:+1-818-359-9234" ></i></h2>
              <p>Pooja Committee</p>


          </a>
          <a class="item item-avatar" href="#">
              <img src="img/friends/fr-05.jpg">
              <h2>Jay Pandey</h2>
              <p>Pooja Committee</p>
          </a>
          <a class="item item-avatar" href="#">
              <img src="img/friends/fr-06.jpg">
              <h2>Dr. Vijaypal Reddy</h2>
              <p>Chairperson</p>
          </a>
      </div>
  </ion-content>
</ion-view>
