<ion-view view-title="Volunteers">
  <ion-content>
      <div class="list">
          <div class="item item-avatar item-icon-right">
              <img src="img/friends/fr-01.jpg">
              <h2>Dr. Arun Jain</h2><a href="tel:+1-000-000-0000"><i class="icon ion-ios-telephone-outline"></i></a>
              <p>Logistic Committee</p>
          </div>
          <div class="item item-avatar item-icon-right">
              <img src="img/friends/fr-02.jpg">
              <h2>Dr. Sandeep Gupta</h2><a href="tel:+1-000-000-0000"><i class="icon ion-ios-telephone-outline"></i></a>
              <p>Logistc</p>
          </div>
          <div class="item item-avatar item-icon-right">
              <img src="img/friends/fr-03.jpg">
              <h2>Mohan Razdan</h2><a href="tel:+1-000-000-0000"><i class="icon ion-ios-telephone-outline"></i></a>
              <p>Logistic</p>
          </div>
          <div class="item item-avatar item-icon-right">
              <img src="img/friends/fr-04.jpg">
              <h2>Mrs. Shanti Pathak </h2> <a href="tel:+1-000-000-0000"><i class="icon ion-ios-telephone-outline"></i></a>
              <p>Pooja Committee</p>
          </div>
          <div class="item item-avatar item-icon-right">
              <img src="img/friends/fr-05.jpg"> <a href="tel:+1-000-000-0000"><i class="icon ion-ios-telephone-outline"></i></a>
              <h2>Jay Pandey</h2>
              <p>Pooja Committee</p>
          </div>
          <div class="item item-avatar item-icon-right">
              <img src="img/friends/fr-06.jpg">
              <h2>Dr. Vijaypal Reddy</h2> <a href="tel:+1-000-000-0000"><i class="icon ion-ios-telephone-outline"></i></a>
              <p>Chairperson</p>
          </div>
      </div>
  </ion-content>
</ion-view>
