/* Empty. Add your own CSS if you like */
i {
  font-size: 30px;
}


.dark {
  background-color: #3f4041 !important;
  color: #ffffff;
  .scroll-content {
    background-color: #3f4041 !important;
  }
  .item {
    background-color: $dark;
    border: none;
    border-top: 1px solid #464646;
    border-bottom: 2px solid #333333;
    padding: 20px;
    color: #F0F1F1;
    max-height: none;

    &:last-child {
      border-bottom: 1px solid #333333;
    }
    &.current{ background-color:darken( $dark, 10% )   !important;
       border-top: 1px solid #464646 !important;
    border-bottom: 2px solid #333333 !important;
      p,h3{opacity: .7;}
            }
  }
  h2,
  h3,
  p,
  a{
    color: #F0F1F1;
  }
}
.dark-head {
  text-decoration: none;
}